<!doctype html>
<html>
	<head>
		<title>sRead</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="css/sm.css">
		<link rel="stylesheet" type="text/css" href="css/sm-extend.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/sm.js"></script>
		<script type="text/javascript" src="js/sm-extend.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="page-group">
			<div class="page">
				<header class="bar bar-nav">
					<h1 class="title">sRead</h1>
				</header>
				<div class="content">
					<div class="swiper-container" data-loop="true" data-autoplay="6000" data-pagination=".swiper-pagination">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#">
									<img src="images/pic/sbanner1.jpg" />
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="images/pic/sbanner2.jpg" />
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="images/pic/sbanner1.jpg" />
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="images/pic/sbanner2.jpg" />
								</a>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="add">
						<div class="note txt-center clearfix">
							<span>最近读了哪些新书，快来记一下吧</span>
							<a href="#" class="pull-left open-newnote">
								<i class="iconfont icon-1701 fs-36"></i>
							</a>
						</div>
					</div>
					<div class="content-padded conmgb">
						<div class="content-block-title">专属书架</div>
						<div class="list-block media-list">
							<ul>
								<li>
									<a href="/bookDetail" class="item-content item-link row">
										<div class="item-media col-25">
											<img src="images/pic/book1.jpg" class="gray-bor" />
										</div>
										<div class="item-inner col-75">
											<div class="item-title-row">
												<div class="item-title">闲话青峰</div>
											</div>
											<div class="item-subtitle">小翼</div>
											<div class="item-text">介绍介绍介绍</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/bookDetail" class="item-content item-link row">
										<div class="item-media col-25">
											<img src="images/pic/book1.jpg" class="gray-bor" />
										</div>
										<div class="item-inner col-75">
											<div class="item-title-row">
												<div class="item-title">闲话青峰</div>
											</div>
											<div class="item-subtitle">小翼</div>
											<div class="item-text">介绍介绍介绍</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/bookDetail" class="item-content item-link row">
										<div class="item-media col-25">
											<img src="images/pic/book1.jpg" class="gray-bor" />
										</div>
										<div class="item-inner col-75">
											<div class="item-title-row">
												<div class="item-title">闲话青峰</div>
											</div>
											<div class="item-subtitle">小翼</div>
											<div class="item-text">介绍介绍介绍</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="content-block-title">热门读物</div>
						<div class="list-block media-list">
							<ul>
								<li>
									<a href="/bookDetail" class="item-content item-link row">
										<div class="item-media col-25">
											<img src="images/pic/book1.jpg" class="gray-bor" />
										</div>
										<div class="item-inner col-75">
											<div class="item-title-row">
												<div class="item-title">闲话青峰</div>
											</div>
											<div class="item-subtitle">小翼</div>
											<div class="item-text">介绍介绍介绍</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/bookDetail" class="item-content item-link row">
										<div class="item-media col-25">
											<img src="images/pic/book1.jpg" class="gray-bor" />
										</div>
										<div class="item-inner col-75">
											<div class="item-title-row">
												<div class="item-title">闲话青峰</div>
											</div>
											<div class="item-subtitle">小翼</div>
											<div class="item-text">介绍介绍介绍</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/bookDetail" class="item-content item-link row">
										<div class="item-media col-25">
											<img src="images/pic/book1.jpg" class="gray-bor" />
										</div>
										<div class="item-inner col-75">
											<div class="item-title-row">
												<div class="item-title">闲话青峰</div>
											</div>
											<div class="item-subtitle">小翼</div>
											<div class="item-text">介绍介绍介绍</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<nav class="bar bar-tab">
					<a href="/" class="tab-item active external">
						<span class="icon icon-home"></span>
						<span class="tab-label">isRead</span>
					</a>
					<a href="/timeline" class="tab-item external">
						<span class="icon icon-app"></span>
						<span class="tab-label">tiRead</span>
					</a>
					<a href="/favorite" class="tab-item external">
						<span class="icon icon-star"></span>
						<span class="tab-label">faRead</span>
					</a>
					<a href="/setting" class="tab-item external">
						<span class="icon icon-me"></span>
						<span class="tab-label">prRead</span>
					</a>
				</nav>
				<div class="popup popup-newnote">
					<header class="bar bar-nav">
						<h1 class="title">添加阅读记录</h1>
					</header>
					<div class="content">
						<div class="list-block">
							<ul>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">书名</div>
											<div class="item-input">
												<input type="text" placeholder="书名" id="nName">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">作者</div>
											<div class="item-input">
												<input type="text" placeholder="作者" id="nAuthor">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">类别</div>
											<div class="item-input">
												<input type="text" placeholder="类别" id="nStyle">
											</div>
										</div>
									</div>
								</li>
								<li class="align-top">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title label">短评</div>
											<div class="item-input">
												<textarea id="nSum"></textarea>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="content-block">
							<div class="row">
								<div class="col-50">
									<a href="#" class="button button-big button-fill button-danger close-popup">取消</a>
								</div>
								<div class="col-50">
									<a href="#" class="button button-big button-fill button-success save-note">提交</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>