
/*common style*/
@font-face {
	font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1458888477'); /* IE9*/
    src: url('../font/iconfont.eot?t=1458888477#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1458888477') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1458888477') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1458888477#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*加号空心*/
.icon-201:before { content: "\e69e"; }
/*加号实心*/
.icon-1701:before { content: "\e6b8"; }
/*书签空心*/
.icon-4501:before { content: "\e6d8"; }
/*书签实心*/
.icon-4901:before { content: "\e6dc"; }
/*关闭实心*/
.icon-2201:before { content: "\e6bf"; }
/*对勾实心*/
.icon-2301:before { content: "\e6c0"; }
/*感叹号实心*/
.icon-2501:before { content: "\e6c2"; }

@font-face {
	font-family: "iconfont01";
	src: url('../font/iconfont01.eot?t=1459323337'); /* IE9*/
    src: url('../font/iconfont01.eot?t=1459323337#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont01.woff?t=1459323337') format('woff'), /* chrome, firefox */
    url('../font/iconfont01.ttf?t=1459323337') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont01.svg?t=1459323337#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont01 {
	font-family:"iconfont01" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-gengduomore11:before { content: "\e761"; }
.icon-gengduomore10:before { content: "\e760"; }
.icon-gengduomore12:before { content: "\e762"; }
.icon-gengduomore13:before { content: "\e763"; }
.icon-heisedeblack381:before { content: "\e746"; }
.icon-yuanxingdecircular231:before { content: "\e738"; }
.icon-yuedureading19:before { content: "\e73a"; }
.icon-zhanweifuplaceholder19:before { content: "\e73c"; }
.icon-zhanweifuplaceholder20:before { content: "\e73d"; }
.icon-xunhuanrecycle64:before { content: "\e729"; }
.icon-huishourecycling11:before { content: "\e74d"; }
.icon-tushuguanlibrary12:before { content: "\e701"; }
.icon-kongbaiblank28:before { content: "\e696"; }
.icon-biaoqianlabel22:before { content: "\e61e"; }
.icon-biaoqianlabel24:before { content: "\e620"; }
.icon-yuanxingdecircular230:before { content: "\e737"; }
.icon-yuanxingdecircular232:before { content: "\e739"; }


* {
	margin: 0px;
	padding: 0px;
}
body,
.page {
	background: #fff;
	font-size: 14px;
}
a {
	color: #333;
}
img {
	display: block;
	width: 100%;
}
ul,
li {
	list-style-type: none;
}
.conmgb {
	margin-bottom: 2.5rem;
}
.note {
	font-size: 12px;
	color: #848484;
}
.txt-center {
	text-align: center;
}
.fs-36 {
	font-size: 36px;
}
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.gray-color {
	color: #9b9b9b;
}
.gray-bor {
	border: 1px solid #cacacf;
}
.lite-gray-bg {
	background: #eeeeee;
}
.green-bg {
	background: #00ca7c;
}
.stress {
	color: #981012;
	font-weight: bold;
}
.nobor {
	border: none !important;
}
.mgt0 {
	margin-top: 0px !important;
}
.mgr5 {
	margin-right: 5px;
}
.mgbnav {
	margin-bottom: 3.5rem !important;
}
.mini-btn {
	border: 1px solid #ddd;
	padding: 5px 10px;
	border-radius: 5px;
}
.mini-btn.mini-btn-red {
	border-color: #e03c44;
}
.mini-btn.mini-btn-green {
	border-color: #00cc7d;
}
.mini-btn.mini-btn-green-fill {
	background: #00cc7d;
	color: #fff;
}


/*reset sm style*/
header .icon {
	color: #fff;
}
.bar-nav {
	background-color: #00cb64;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
	color: #00cb64;
}
.title {
	color: #fff;
}
.swiper-container {
	padding-bottom: 0px;
}
.swiper-container-horizontal > .swiper-pagination {
	bottom: 0px;
}
.swiper-pagination-bullet-active {
	background-color: #facbcb;
}
.list-block .item-inner:after {
	height: 0px;
}
.list-block li {
	border-bottom: 1px solid #e7e7e7;
}
.content-block-title {
	margin-top: 0.75rem;
	margin-left: 0px;
	padding-left: 5px;
	border-left: 2px solid #f67a84;
}
.list-block {
	margin-bottom: 0.75rem;
}

.add {
	overflow: hidden;
}
.add .note span{
	float: left;
	margin-left: 18%;
	margin-top: 20px;
	margin-right: 10px;
}
.add .iconfont {
	color: #17b8ff;
}
.greentoast {
	background: rgba(0, 203, 100, 0.8);
}
.redtoast {
	background: rgba(246, 56, 58, 0.8);
}

.status-group span {
	padding: 4px 8px;
	background: #eeeeee;
}
.status-group span.choosen {
	background: #4bd662;
	color: #fff;
}

/*book detail page style*/
.pic-wrap {
	position: relative;
	width: 100%;
	background: url(../images/bookwrapbig.jpg) repeat-x;
	background-color: #01c576;
}
.pic-wrap img {
	width: 50%;
	margin: 0 auto;
	box-shadow: 1px 0px 10px #999;
}
.pic-wrap p {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #000;
	color: #fff;
	opacity: 0.4;
	margin: 0px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
}
.book-intro p {
	margin: 0px;
}
.book-intro .row {
	margin-top: 5px;
}
.book-title {
	font-size: 18px;
	font-weight: bold;
	color: #444444;
	height: 40px;
	line-height: 40px;
}
.book-title .icon-star {
	font-weight: normal;
	font-size: 24px;
	color: #f6383a;
}
.icon-star.unstar {
	color: #999999;
}
.sline {
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0px;
	margin-top: 5px;
}
.sline a {
	display: block;
}

/*book-review page style*/
.brwrap {
	background: url(../images/brbg.jpg) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}
.brwrap p {
	margin-top: 40px;
	text-align: center;
	color: #999999;
}
.preview-list img {
	width: 100%;
	border-radius: 30px;
}

/*myread page style*/
.myread-tab {
	background: #357adf;
}
.myread-tab .button {
	color: #aeb3b8;
}
.myread-tab .button.active {
	color: #fff;
	border-color: #00cb64;
}
.myread-tab-content .list-block .item-text {
	line-height: 2.05rem;
}

/*favorite page style*/
.sort {
	margin-bottom: 10px;
}
.sort-title {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
	background: #d8a957;
	color: #fff;
}
.sort-title a {
	color: #fff;
}
.sort-title .icon-right {
	font-size: 12px;
}
.sort-content {
	padding: 0px 10px;
}
.sort-content li {
	float: left;
}
.sort-content li>a {
	display: block;
}
.sort-content p {
	margin: 3px 0px;
	text-align: center;
}
.sort-pic {
	height: 5.5rem;
	position: relative;
}
.sort-pic img {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.sort-content p.gray-color {
	font-size: 12px;
}

/*setting page style*/
.infopic {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
	margin: 30px auto 0px auto;
	border: 1px solid #00ca79;
	background: rgba(0, 202, 121, 0.3);
	padding: 2px;
	box-shadow: 1px 1px 1px #eee;
}
.infopic img {
	width: 100%;
	border-radius: 50px;
}
.activity .weak {
	color: #9b9b9b;
	font-size: 12px;
}
.ac-item {
	line-height: 30px;
}
.achieve-detail {
	margin-top: 10px;
	border-top: 1px solid #cecfcf;
}