<!doctype html>
<html>
	<head>
		<title>藏书阁</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="css/sm.css">
		<link rel="stylesheet" type="text/css" href="css/sm-extend.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/sm.js"></script>
		<script type="text/javascript" src="js/sm-extend.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="page-group">
			<div class="page">
				<header class="bar bar-nav">
					<h1 class="title">藏书阁</h1>
				</header>
				<div class="content">
					<div class="sort">
						<div class="sort-title clearfix">
							<span class="pull-left">技术型</span>
							<div class="pull-right">
								<a href="#">更多<span class="iconfont01 icon-gengduomore11"></span></a>
							</div>
						</div>
						<div class="sort-content">
							<ul class="clearfix row">
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sort">
						<div class="sort-title clearfix">
							<span class="pull-left">儒雅型</span>
							<div class="pull-right">
								<a href="#">更多<span class="iconfont01 icon-gengduomore11"></span></a>
							</div>
						</div>
						<div class="sort-content">
							<ul class="clearfix row">
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sort mgbnav">
						<div class="sort-title clearfix">
							<span class="pull-left">工具型</span>
							<div class="pull-right">
								<a href="#">更多<span class="iconfont01 icon-gengduomore11"></span></a>
							</div>
						</div>
						<div class="sort-content">
							<ul class="clearfix row">
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
								<li class="col-25">
									<a href="#">
										<div class="sort-pic">
											<img src="images/pic/book1.jpg" />
										</div>
										<div class="sort-name">
											<p>闲话青峰</p>
											<p class="gray-color">小翼</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<nav class="bar bar-tab">
					<a href="/" class="tab-item external">
						<span class="icon icon-home"></span>
						<span class="tab-label">isRead</span>
					</a>
					<a href="/timeline" class="tab-item external">
						<span class="icon icon-app"></span>
						<span class="tab-label">tiRead</span>
					</a>
					<a href="favorite" class="tab-item active external">
						<span class="icon icon-star"></span>
						<span class="tab-label">faRead</span>
					</a>
					<a href="setting" class="tab-item external">
						<span class="icon icon-me"></span>
						<span class="tab-label">prRead</span>
					</a>
				</nav>
			</div>
		</div>
	</body>
</html>



