<!doctype html>
<html>
	<head>
		<title>sRead设置</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="css/sm.css">
		<link rel="stylesheet" type="text/css" href="css/sm-extend.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/sm.js"></script>
		<script type="text/javascript" src="js/sm-extend.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="page-group">
			<div class="page">
				<header class="bar bar-nav">
					<h1 class="title">sRead设置</h1>
				</header>
				<div class="content content-padded">
					<div class="infomation">
						<div class="infopic">
							<img src="images/pic/profilepic.jpg" />
						</div>
						<p class="nickname txt-center">不与</p>
					</div>
					<div class="activity">
						<div class="clearfix ac-item">
							<span class="pull-left">sRead阅龄</span>
							<span class="pull-left">2年6个月</span>
							<span class="pull-right weak">2004年5月开启sread</span>
						</div>
						<div class="clearfix ac-item">
							<span class="pull-left">偏好：</span>
							<span class="pull-left">仙侠 暖心</span>
							<span class="pull-right weak">添加更多偏好</span>
						</div>
						<div class="clearfix ac-item">
							<span class="pull-left">成就：</span>
							<span class="pull-left">sRead阅仙</span>
						</div>
						<div class="ac-item">
							<p>目前在sRead涉猎书籍<span class="stress">200</span>本</p>
							<p>添加短评<span class="stress">300</span>条</p>
							<p>参与讨论<span class="stress">230</span>次</p>
						</div>
					</div>
				</div>
				<nav class="bar bar-tab">
					<a href="/" class="tab-item external">
						<span class="icon icon-home"></span>
						<span class="tab-label">isRead</span>
					</a>
					<a href="/timeline" class="tab-item external">
						<span class="icon icon-app"></span>
						<span class="tab-label">tiRead</span>
					</a>
					<a href="favorite" class="tab-item external">
						<span class="icon icon-star"></span>
						<span class="tab-label">faRead</span>
					</a>
					<a href="setting" class="tab-item active external">
						<span class="icon icon-me"></span>
						<span class="tab-label">prRead</span>
					</a>
				</nav>
			</div>
		</div>
	</body>
</html>


