<!doctype html>
<html>
	<head>
		<title>sRead书评</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="css/sm.css">
		<link rel="stylesheet" type="text/css" href="css/sm-extend.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/sm.js"></script>
		<script type="text/javascript" src="js/sm-extend.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="page-group">
			<div class="page lite-gray-bg">
				<header class="bar bar-nav">
					<a href="#" class="icon icon-left pull-left back"></a>
					<h1 class="title">sRead书评</h1>
				</header>
				<div class="content content-padded">
					<div class="brwrap">
						<p>和大家一起品位这本书</p>
					</div>
					<div class="book-title">
						《闲话青峰》
					</div>
					<div class="preview-list">
						<div class="card">
							<div class="card-header">林中一壶酒，何以慰风尘</div>
							<div class="card-content">
								<div class="list-block media-list">
									<ul>
										<li class="item-content row nobor">
											<div class="item-media col-20">
												<img src="images/pic/profilepic.jpg" />
											</div>
											<div class="item-inner col-80">
												<div class="item-title-row">
													<div class="item-title">iMonster</div>
												</div>
												<div class="item-subtitle">内内容内容内容内容内容容</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-footer">
								<div>
									<i class="icon icon-clock"></i>
									<span>2016-09-12</span>
								</div>
								<div>
									<i class="icon icon-emoji"></i>
									<span>10</span>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">林中一壶酒，何以慰风尘</div>
							<div class="card-content">
								<div class="list-block media-list">
									<ul>
										<li class="item-content row nobor">
											<div class="item-media col-20">
												<img src="images/pic/profilepic.jpg" />
											</div>
											<div class="item-inner col-80">
												<div class="item-title-row">
													<div class="item-title">iMonster</div>
												</div>
												<div class="item-subtitle">内内容内容内容内容内容容</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-footer">
								<div>
									<i class="icon icon-clock"></i>
									<span>2016-09-12</span>
								</div>
								<div>
									<i class="icon icon-emoji"></i>
									<span>10</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>