<!doctype html>
<html>
	<head>
		<title>sRead详情</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="css/sm.css">
		<link rel="stylesheet" type="text/css" href="css/sm-extend.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/sm.js"></script>
		<script type="text/javascript" src="js/sm-extend.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="page-group">
			<div class="page">
				<header class="bar bar-nav">
					<a href="#" class="icon icon-left pull-left back"></a>
					<h1 class="title">sRead详情</h1>
				</header>
				<div class="content">
					<div class="pic-wrap">
						<img src="images/pic/book1.jpg" />
						<p class="ellipsis">去的最远的地方</p>
					</div>
					<div class="content-padded">
						<div class="book-intro">
							<div class="book-title">
								闲话青峰
							</div>
							<div class="book-author row">
								<label class="col-20">作者：</label>
								<p class="col-80">小翼</p>
							</div>
							<div class="label row">
								<label class="col-20">标签：</label>
								<p class="col-80">
									<span>叙述</span>
									<span>故事</span>
								</p>
							</div>
							<div class="row">
								<div class="col-50">
									<a href="#" class="button button-fill button-warning">阅读</a>
								</div>
								<div class="col-50">
									<a href="#" class="button button-fill">标注</a>
								</div>
							</div>
						</div>
						<div class="sline">
							<a href="#" clearfix>
								<span>书评</span>
								<i class="icon icon-right pull-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>