<!doctype html>
<html>
	<head></head>
	<body>
		<div class="page-group">
			<div class="page" id="book-detail-page">
				<header class="bar bar-nav">
					<a href="#" class="icon icon-left pull-left back"></a>
					<h1 class="title">sRead详情</h1>
				</header>
				<div class="content">
					<div class="pic-wrap">
						<img src="images/pic/book1.jpg" />
						<p class="ellipsis">去的最远的地方</p>
					</div>
					<div class="content-padded">
						<div class="book-intro">
							<div class="book-title row">
								<div class="col-80">闲话青峰</div>
								<div class="col-20 txt-center" id="addWish">
									<i class="icon icon-star unstar"></i>
								</div>
							</div>
							<div class="book-author row">
								<label class="col-20">作者：</label>
								<p class="col-80">小翼</p>
							</div>
							<div class="label row">
								<label class="col-20">标签：</label>
								<p class="col-80">
									<span>叙述</span>
									<span>故事</span>
								</p>
							</div>
							<div class="row">
								<div class="col-50">
									<a href="#" class="button button-fill button-warning">阅读</a>
								</div>
								<div class="col-50">
									<a href="#" class="button button-fill">标注</a>
								</div>
							</div>
						</div>
						<div class="sline">
							<a href="/bookReview" class="clearfix">
								<span>书评</span>
								<i class="icon icon-right pull-right"></i>
							</a>
						</div>
						<div class="brief">
							<p class="gray-color">简介</p>
							<p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介...</p>
						</div>

						<!-- arrow -->
						<!-- <div>
							<div class="marrow"></div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>